<%= form_for @user do |f| %>
  <%= f.label 'Your name:' %>
  <%= f.text_field :name %><br>
  <%= f.label 'Your email:' %>
  <%= f.email_field :email, placeholder: 'example@example.com' %><br>
  <%= f.label 'Your password:' %>
  <%= f.password_field :password %><br>
  <%= f.submit "Sign up" %>
<% end %>



<!-- <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_name">Your name:</label> 
  <input type="text" name="user[name]"><br>
  <label for="user_email">Your e-mail:</label> 
  <input type="email" name="user[email]"><br>
  <label for="user_password">Password:</label>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Sign up">
 </form> -->